* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2d4a22;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.signup-btn {
    padding: 8px 16px;
    background-color: #2d4a22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn {
    padding: 8px 16px;
    background-color: #1f3d7a; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}






.login-btn:hover {
    background-color: #5c719d;
}



.signup-btn:hover {
    background-color: #449d48;
}







.hero {
    background-image:  url("./images/pexels-fmaderebner-238622.jpg ");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-buttons button {
    padding: 12px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.find-trails {
    background-color: #2d4a22;
    color: white;
}

.join-events {
   
    color: black;
    border: 2px solid red;
}
